<h1 style="text-align:center;">Bienvenue!</h1>
<div>
 <h2>(Ruby on) Rails</h2>
<ul>
  <li>Un <strong>framework </strong>pour les applications Web</li>
  <li>Écrit avec et grâce à Ruby</li>
  <li>Inventé par <strong>David Heinemeier Hansson</strong></li>
  <li>Souple, intégré, dynamique, élégant,productif... agile</li>
</ul>
</div>


