
<h1 id="titre" style="text-align: center;">Pourquoi choisir Ruby on Rails?</h1>
<p>Un langage de script objet, très dynamique, très souple, avec une syntaxe
élégante, qui reprend les bonnes idées de Smalltalk, Lisp, ou Perl</p>

  <div>
    <div>
<h2 style="text-align: center;">Cette Introduction?</h2>
<p>Un coup d'oeil général</p>
 <ul>
       <li>les <strong>3 piliers </strong>de ruby on rails</li>
       <li>le Modèle: ActiveRecord</li>
       <li>Vue : ActionView</li>
       <li>Le Contrôleur : ActionController</li>
       <li>Développer avec Rails</li>
 </ul>
 </div>
</div>
